.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: gold;
  color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid black;
}

.contact-info {
  text-align: center;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.navbar-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  margin: 0 10px;
}

.navbar-button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
