.client-dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  margin-right: 100px;
  padding: 20px;
}

.client-dashboard__header {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

.client-dashboard__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.client-dashboard__item {
  border: 1px solid #969595;
  padding: 20px;
  font-size: 24px;
}

@media (max-width: 800px) {
  .client-dashboard {
    margin-left: 0px;
  }

  .client-dashboard__grid {
    grid-template-columns: 1fr;
  }
}

.file-preview {
  margin-top: 10px;
}

.file-preview img.preview-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

.file-preview p {
  margin-top: 10px;
}
